services:
  backend:
    build: .
    container_name: task-management-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"